<div class="contact">
  <div class="contact-header">
    <h2>Contact Us</h2>
    <p>Home > Contact Us</p>
  </div>
  <div class="container contact-main">
    <div class="contact-main_header">
      <h4>Contact Us</h4>
      <h2>Get in Touch<span>.</span></h2>
    </div>
    <div class="contact-main_content">
      <div class="form">
        <div class="name">
          <fa-icon></fa-icon>
          <input type="text" placeholder="Full Name" />
        </div>
        <div class="email">
          <fa-icon></fa-icon>
          <input type="text" placeholder="Email" />
        </div>
        <div class="text">
          <textarea placeholder="Message" cols="44" rows="5"></textarea>
        </div>

        <button class="btn">Send Message</button>
      </div>
    </div>
  </div>
</div>
