$main-color: #32ba52;
$sub-color: #00362c;

.contact {
  height: calc(90vh - 20px);
  &-header {
    height: 30vh;
    background-color: #c4d2cb;
    text-align: center;

    h2 {
      font-size: 50px;
      color: $sub-color;
      padding: 30px;
    }
    p {
      font-size: 12px;
    }
  }
  &-main {
    padding-top: 20px;
    &_header {
      text-align: center;
      h4 {
        color: $main-color;
      }
      h2 {
        color: $sub-color;
        font-size: 40px;
        padding: 30px;
        span {
          color: $main-color;
        }
      }
    }
    &_content {
      display: flex;
      align-items: center;
      justify-content: center;
      h4 {
        color: $main-color;
        font-size: 12px;
      }
      h2 {
        font-size: 50px;
        color: $sub-color;
        span {
          color: $main-color;
        }
      }
      .form {
        display: grid;
        grid-template-areas:
          "myname myname myemail myemail"
          "mytext mytext mytext mytext"
          ". mybtn mybtn .";
        .name {
          grid-area: myname;
          width: 50px;
        }
        .email {
          grid-area: myemail;
          width: 50px;
        }
        .text {
          grid-area: mytext;
        }
        .btn {
          grid-area: mybtn;
        }

        button {
          margin: 10px;
          padding: 10px;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
          font-weight: bold;
          border: none;
          color: white;
          background-color: $main-color;
          width: 200px;
        }
      }
    }
  }
}
