<div class="contact">
  <div class="contact-header">
    <h2>Contact Us</h2>
    <p>Home > Contact Us</p>
  </div>
  <div class="clip"></div>
  <div class="container contact-main">
    <div class="contact-main_header">
      <h4>Contact Us</h4>
      <h2>Get in Touch<span>.</span></h2>
    </div>
    <div class="contact-main_content">
      <div class="form">
        <div class="form-name">
          <fa-icon [icon]="faUser"></fa-icon>
          <input type="text" placeholder="Full Name" />
        </div>
        <div class="form-email">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <input type="text" placeholder="Email" />
        </div>
        <div class="form-text">
          <textarea placeholder="Message"></textarea>
        </div>
        <div class="form-btn">
          <button>Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
