<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-content">
        <div class="footer-content_logo">logo</div>
        <div class="footer-content_text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse
          explicabo consequatur aliquam amet delectus sit debitis
          voluptas.consectetur adipisicing elit. Esse explicabo consequatur
          aliquam consectetur adipisicing elit. Esse explicabo consequatur
          aliquam .
        </div>
        <div class="footer-content_more">
          <div class="footer-content_more_icon">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </div>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="footer-pages">
        <h3>Our Pages<span>.</span></h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">How it works</a></li>
        </ul>
      </div>
      <div class="footer-support">
        <h3>Support<span>.</span></h3>

        <ul>
          <li><a href="#">login/Register</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">faq</a></li>
        </ul>
      </div>
      <div class="footer-new">
        <h3>Newsletter<span>.</span></h3>

        <div class="footer-new_input">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <input type="text" placeholder="Enter Email Address" />
        </div>
        <button class="footer-new_btn">Subscribe</button>
      </div>
    </div>
    <hr />
    <div class="copyright">
      <div class="copyright-text">copyright@Abooda</div>
      <div class="copyright-icons">
        <div class="copyright-icons_instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </div>
        <div class="copyright-icons_twitter">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </div>
        <div class="copyright-icons_linkedin">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</footer>
