<header>
  <div class="container header">
    <div class="header-logo">
      logo
      <img src="" alt="" />
    </div>
    <div class="header-nav">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >About us</a
          >
        </li>
        <li>
          <a
            routerLink="contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact us</a
          >
        </li>
        <li>
          <a
            routerLink="pricing"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Pricing</a
          >
        </li>
        <li>
          <a
            routerLink="work"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >How it works</a
          >
        </li>
      </ul>
    </div>
    <div class="header-btns">
      <button class="btn download">Download Application</button>
      <button class="btn clinic">For Clinic</button>
    </div>
    <div class="toggle-icon">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>
</header>
