<div class="pricing">
  <div class="pricing-header">
    <h2>Pricing</h2>
    <h4>Home > Pricing plans</h4>
  </div>
  <div class="pricing-content container">
    <div class="pricing-content_plan">
      <h5>basic plan</h5>
      <p><span>22</span>/monthly</p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <button>Select Plan</button>
    </div>
    <div class="pricing-content_plan">
      <h5>standard plan</h5>
      <p><span>22</span>/monthly</p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <button>Select Plan</button>
    </div>
    <div class="pricing-content_plan">
      <h5>basic plan</h5>
      <p><span>22</span>/monthly</p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <p>Lorem, ipsum dolor sit <fa-icon [icon]="faCheck"> </fa-icon></p>
      <button>Select Plan</button>
    </div>
  </div>
</div>
