$main-color: #32ba52;
$sub-color: #00362c;
$back-color: #f5f5f5;

.home {
  background-color: $back-color;
  height: 97vh;
  display: flex;
  align-items: center;

  .main {
    width: 50%;
    margin-right: 0;

    h1 {
      font-size: 80px;
      color: $sub-color;
      span {
        color: $main-color;
      }
    }
    &-text {
      font-size: 14px;
      max-width: 70%;
      span {
        font-weight: bold;
      }
    }
    &-img {
      align-self: flex-end;

      img {
        height: 400px;
      }
    }
    button {
      margin: 10px;
      padding: 10px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      font-weight: bold;
      border: none;
      &.for-android {
        color: white;
        background-color: $main-color;
        width: 200px;
      }

      &.for-ios {
        color: white;
        background-color: $sub-color;
        width: 150px;
      }
    }
  }
}

.services {
  height: 100vh;
  padding-top: 200px;
  padding-bottom: 100px;
  &-search {
    position: absolute;
    width: inherit;
    height: 100px;
    margin-top: -250px;
    background-color: white;
    box-shadow: 0px 30px 50px 0px $back-color;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    &_area,
    &_doctor,
    &_select,
    &_btn {
      background-color: $back-color;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      input {
        border: none;
        background-color: transparent;
        outline: none;
      }
      fa-icon {
        color: $main-color;
        padding-right: 20px;
      }
    }
    &_area {
      margin-left: 40px;
      padding-left: 20px;
    }

    &_btn {
      color: $back-color;
      background-color: $main-color;
      margin-right: 40px;
      width: auto;
      border: none;
    }
  }
  &-text {
    text-align: center;
    h4 {
      color: $main-color;
    }
    h2 {
      color: $sub-color;
      font-size: 2rem;
      padding: 30px;
      font-weight: 800;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
    text-align: center;

    .service {
      padding: 20px;
      box-shadow: 0px 30px 50px 0px $back-color;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      .icon {
        width: 100px;
        height: 100px;
        margin: auto;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        fa-icon {
          color: white;
          font-size: 50px;
        }

        &-dental {
          background-color: $main-color;
        }

        &-heart {
          background-color: #ff006f;
        }

        &-family {
          background-color: #00d4ff;
        }
      }

      h5 {
        font-size: 1.5rem;
        padding: 30px;
      }
    }
  }
}

.testimonials {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  &-text {
    text-align: center;
    h4 {
      color: $main-color;
    }
    h2 {
      color: $sub-color;
      padding: 30px;
      span {
        color: $main-color;
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
    text-align: center;

    .testimonial {
      padding: 20px;
      box-shadow: 0px 30px 50px 0px $back-color;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      .testimonial-img {
        width: 100px;
        height: 100px;
        margin: auto;
        background-color: $sub-color;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
      }

      h5 {
        font-size: 1.1rem;
        padding: 10px;
      }
    }
  }
}

.app {
  background-color: $back-color;
  height: 100vh;
  display: flex;
  align-items: center;

  .application {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-images {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &_1 {
      transform: translateX(80px);
      -webkit-transform: translateX(80px);
      -moz-transform: translateX(80px);
      -ms-transform: translateX(80px);
      -o-transform: translateX(80px);
    }
  }

  &-main {
    width: 45vw;

    h2 {
      font-size: 50px;
      color: $sub-color;
    }
    &_text {
      font-size: 14px;
      max-width: 70%;
      padding: 20px 0;
      span {
        font-weight: bold;
      }
    }

    &_features {
      display: grid;
      grid-template-columns: 30% 30%;
      gap: 20px;
      fa-icon {
        color: $main-color;
      }
    }

    button {
      margin: 10px;
      padding: 10px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      font-weight: bold;
      border: none;
      &.for-android {
        color: white;
        background-color: $main-color;
        width: 200px;
      }

      &.for-ios {
        color: white;
        background-color: $sub-color;
        width: 150px;
      }
    }
  }
}
