<div class="home">
  <div class="main container">
    <h1>Do Not Forget About Your <span>Health</span></h1>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam
      asperiores
      <span
        >saepe sint eum, quibusdam dicta reprehenderit corporis assumenda
        cumque</span
      >
    </p>
    <button class="for-android">
      <fa-icon [icon]="faAndroid"> </fa-icon> Download for Android
    </button>
    <button class="for-ios">
      <fa-icon [icon]="faApple"> </fa-icon> Download for Ios
    </button>
  </div>
  <div class="main-img">
    <img src="assets/images/main-image.png" alt="" />
  </div>
</div>

<div class="container services">
  <div class="services-search container">
    <div class="services-search_area">
      <fa-icon [icon]="faSearch"></fa-icon
      ><input type="text" placeholder="Search Area Name" />
    </div>
    <div class="services-search_doctor">
      <fa-icon [icon]="faUser"></fa-icon
      ><input type="text" placeholder="Select Doctor" />
    </div>
    <div class="services-search_select">
      <fa-icon [icon]="faCalendarCheck"></fa-icon
      ><input type="text" placeholder="Select Service" />
    </div>
    <button class="services-search_btn">Search & Book Now</button>
  </div>
  <div class="services-text">
    <h4>Services</h4>
    <h2>Clinic Best Services</h2>
  </div>
  <div class="services-content">
    <div class="service">
      <div class="icon icon-dental">
        <fa-icon [icon]="faTooth"> </fa-icon>
      </div>
      <h5>Dental Care</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
        doloremque dolore, aperiam incidunt
      </p>
    </div>
    <div class="service">
      <div class="icon icon-heart">
        <fa-icon [icon]="faHeartbeat"> </fa-icon>
      </div>
      <h5>Heart Diseases</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
        doloremque dolore, aperiam incidunt
      </p>
    </div>
    <div class="service">
      <div class="icon icon-family">
        <fa-icon [icon]="faPills"> </fa-icon>
      </div>
      <h5>Family Medicine</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
        doloremque dolore, aperiam incidunt
      </p>
    </div>
  </div>
</div>
<div class="container testimonials">
  <div class="testimonials-text">
    <h4>testimonials</h4>
    <h2>What People Say<span>.</span></h2>
  </div>
  <div class="testimonials-content">
    <div class="testimonial">
      <div class="testimonial-img"></div>
      <h5>this platform is amazing! so useful</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
        doloremque dolore, aperiam incidunt
      </p>
    </div>
    <div class="testimonial">
      <div class="testimonial-img"></div>
      <h5>this platform is amazing! so useful</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
        doloremque dolore, aperiam incidunt
      </p>
    </div>
    <div class="testimonial">
      <div class="testimonial-img"></div>
      <h5>this platform is amazing! so useful</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
        doloremque dolore, aperiam incidunt
      </p>
    </div>
  </div>
</div>

<div class="app">
  <div class="container application">
    <div class="app-images">
      <img class="app-images_1" src="../../../assets/images/app1.png" alt="" />
      <img class="app-images_2" src="../../../assets/images/app2.png" alt="" />
    </div>
    <div class="app-main">
      <h4>Aplication</h4>
      <h2>Download Our Application <span>.</span></h2>
      <p class="app-main_text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam
        asperiores
        <span
          >saepe sint eum, quibusdam dicta reprehenderit corporis assumenda
          cumque</span
        >
      </p>
      <div class="app-main_features">
        <p><fa-icon [icon]="faCheckCircle"> </fa-icon> feature one</p>
        <p><fa-icon [icon]="faCheckCircle"> </fa-icon> feature two</p>
        <p><fa-icon [icon]="faCheckCircle"> </fa-icon> feature three</p>
        <p><fa-icon [icon]="faCheckCircle"> </fa-icon> feature four</p>
        <button class="for-android">
          <fa-icon [icon]="faAndroid"> </fa-icon> Download for Android
        </button>
        <button class="for-ios">
          <fa-icon [icon]="faApple"> </fa-icon> Download for Ios
        </button>
      </div>
    </div>
    <!--   <div class="main-img">
    <img src="../../../assets/images/main-image.png" alt="" />
  </div> -->
  </div>
</div>
