<div class="about">
  <div class="about-header">
    <h2>About Us</h2>
    <p>Home > About Us</p>
  </div>
  <div class="about-main container">
    <div class="about-main_image">
      <img src="../../../assets//images/about-us.jpg" alt="" />
    </div>
    <div class="about-main_content">
      <h4>application</h4>
      <h2>Best Clinic For You<span>.</span></h2>
      <p class="about-main_content_text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam
        asperioressaepe sint eum, quibusdam dicta reprehenderit corporis
        assumenda cumque.
      </p>
      <button class="for-works">How it works</button>
    </div>
    <!--   <div class="main-img">
    <img src="../../../assets/images/main-image.png" alt="" />
  </div> -->
  </div>
</div>
