<div class="work">
  <div class="work-header">
    <h2>how it works</h2>
    <p>Home > how it works</p>
  </div>
  <div class="work-main container">
    <div class="work-main_image">
      <img src="../../../assets//images/about-us.jpg" alt="" />
    </div>
    <div class="work-main_content">
      <h4>how it works</h4>
      <h2>watch how it works<span>.</span></h2>
      <p class="work-main_content_text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam
        asperioressaepe sint eum, quibusdam dicta reprehenderit corporis
        assumenda cumque.
      </p>
      <div class="how-main_features">
        <p>feature one</p>
        <p>feature two</p>
        <p>feature three</p>
        <p>feature four</p>
      </div>
      <button class="for-works">
        <fa-icon [icon]="faPlayCircle"> </fa-icon> How it works
      </button>
    </div>
    <!--   <div class="main-img">
    <img src="../../../assets/images/main-image.png" alt="" />
  </div> -->
  </div>
</div>
